<div class="wrapper">

    <div class="container d-flex flex-wrap justify-content-center">
        <a class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <h4 class="text-warning">Intern Log History</h4>
        </a>
        
        <div class="buttons" *ngIf="userRole === 'INTERN'">
            <button *ngIf="!isCheckedIn" class="btn btn-success mx-2" (click)="onCheckInClick()">Check-in</button>
            <button *ngIf="isCheckedIn" class="btn btn-warning mx-2"><i class="fa-solid fa-plus"></i> Add Task</button>
            <button *ngIf="isCheckedIn" class="btn btn-danger" (click)="onCheckOutClick()">Check-out</button>
        </div>
    </div>
    <hr>

    <br>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped table-bordered text-center">
                <thead class="table-primary">
                    <tr>
                        <td>S.N</td>
                        <td>Full Name</td>
                        <td>Check-in</td>
                        <td>S.N</td>
                        <td>Task</td>
                        <td>Status</td>
                        <td>Time Taken</td>
                        <td>Problem</td>
                        <td>Check-out</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody *ngFor="let data of intern ; let i = index">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{data.task}}</td>
                        <td>{{data.status}}</td>
                        <td>{{data.timeTaken}}</td>
                        <td>{{data.problem}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>