<div class="wrapper">
  <div class="container">
    <div class="mb-5">
      <form [formGroup]="userDetails">
        <div class="border p-5 bg-light rounded">
          <h4 class="fw-semibold mb-3">Add user details</h4>
          <hr class="mt-1 mb-3" />
          <div class="row g-4">

            <div class="col-md-6 col-sm-12">
              <label>Full Name</label>
              <input type="text" formControlName="fullName" name="fullName" id="fullName" class="form-control"
                placeholder="Enter full name" required />
              <div class="text-danger"
                *ngIf="userDetails.get('fullName')?.invalid && userDetails.get('fullName')?.touched">
                <small>Please enter full name.</small>
              </div>
            </div>

            <div class="col-md-6 col-sm-12">
              <label>Email</label>
              <input type="email" formControlName="email" name="email" id="email" class="form-control"
                placeholder="Enter email" required />
              <div class="text-danger" *ngIf="userDetails.get('email')?.invalid && userDetails.get('email')?.touched">
                <small>Please enter email.</small>
              </div>
            </div>

            <div class="col-md-6 col-sm-12">
              <label>Phone</label>
              <input type="text" formControlName="phone" name="phone" id="phone" class="form-control"
                placeholder="Enter phone number" required />
              <div class="text-danger" *ngIf="userDetails.get('phone')?.invalid && userDetails.get('phone')?.touched">
                <small>Please enter phone number.</small>
              </div>
            </div>

            <div class="col-md-6 col-sm-12">
              <label>Password</label>
              <input type="password" formControlName="password" class="form-control" placeholder="Enter password"
                required />
              <div class="text-danger"
                *ngIf="userDetails.get('password')?.invalid && userDetails.get('password')?.touched">
                <small *ngIf="userDetails.get('password')?.hasError('weakPassword')">Please enter a stronger
                  password.</small>
                <small *ngIf="!userDetails.get('password')?.hasError('weakPassword')">Please enter password.</small>
              </div>
            </div>

            <div class="col-md-6 col-sm-12">
              <label>Role</label>
              <select formControlName="role" name="role" id="role" class="form-control" (change)="onRoleChange($event)"
                required>
                <option value="" hidden>Select Role</option>
                <option *ngFor="let getRole of roles" [ngValue]="getRole.id">{{getRole.name}}</option>
              </select>
              <div class="text-danger" *ngIf="userDetails.get('role')?.invalid && userDetails.get('role')?.touched">
                <small>Please select a role.</small>
              </div>
            </div>


            <div class="col-md-6 col-sm-12" *ngIf="showFieldInput()">
              <label>Field</label>
              <select formControlName="fieldType" name="fieldType" id="fieldType" class="form-control" required>
                <option value="" hidden>Select Field</option>
                <option value="FRONTEND">Frontend</option>
                <option value="BACKEND">Backend</option>
              </select>
              <div class="text-danger"
                *ngIf="userDetails.get('fieldType')?.invalid && userDetails.get('fieldType')?.touched">
                <small>Please select a field.</small>
              </div>
            </div>

            <div class="col-md-6 col-sm-12" *ngIf="showPrimarySupervisor()">
              <label>Primary Supervisor</label>
              <input type="text" formControlName="primarySupervisor" name="primarySupervisor" id="primarySupervisor"
                class="form-control" placeholder="Enter Primary Supervisor" required />
              <div class="text-danger"
                *ngIf="userDetails.get('primarySupervisor')?.invalid && userDetails.get('primarySupervisor')?.touched">
                <small>Please enter Primary Supervisor.</small>
              </div>
            </div>


            <div class="col-md-6 col-sm-12" *ngIf="showSecondarySupervisor()">
              <label>Secondary Supervisor</label>
              <input type="text" formControlName="secondarySupervisor" name="secondarySupervisor"
                id="secondarySupervisor" class="form-control" placeholder="Enter Secondary Supervisor" required />
              <div class="text-danger"
                *ngIf="userDetails.get('secondarySupervisor')?.invalid && userDetails.get('secondarySupervisor')?.touched">
                <small>Please enter Secondary Supervisor.</small>
              </div>
            </div>


          </div>
          <hr class="mt-3 mb-3" />

          <div class="row">
            <div class="col-sm-6">
              <button class="btn btn-outline-danger btn-sm" type="button" (click)="cancel()">Cancel</button>
            </div>
            <div class="col-sm-6 text-end">
              <button class="btn btn-outline-success btn-sm mx-3" type="button" (click)="onSubmit()">Submit</button>

            </div>

          </div>


        </div>
      </form>
    </div>
  </div>
</div>