<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Aadim Innovation Center - Your Account has been Created!</title>
</head>
<body>
<p th:text="${sub}"></p>

<p>Dear <span th:text="${name}"></span>,</p>

<p>We are thrilled to welcome you to Aadim Innovation Center! Your account has been successfully created, and you are now part of our community.</p>

<p>Login Details:</p>

<p>Email: <span th:text="${email}"></span></p>
<p>Temporary Password: <span th:text="${password}"></span></p>

<p>Please log in using the provided credentials. Upon your first login, we recommend updating your password for security purposes.</p>
<p>If you have any questions or encounter any issues, feel free to reach out to our support team.</p>

<p>Thank you for choosing Aadim Innovation Center! We look forward to serving you.</p>

<p>Best regards,</p>

<p>Aadim Innovation Center</p>

</body>
</html>