<div class="body">
    <div class="from-container">
      <form>
        <div class="container d-flex justify-content-center align-items-center " style="min-height: 100vh;">
          <div class="rounded-4 border border-light border-3 p-5"
               style="height: 300px; width: 480px; background: #FFFFFF">
            <form [formGroup]="emailDeatil">
              <h4 class="text-center">Password Reset</h4>
              <label class="mt-3">Enter your E-mail</label>
              <input type="email" formControlName="email" class="form-control" name="email"
                     placeholder="Please enter your email">
              <div *ngIf="emailDeatil.get('email').invalid && emailDeatil.get('email').touched" class="text-danger">
                <small>Please enter your email</small>
              </div>
  
              <div class="text-center">
                <button class="btn btn-warning text-light mt-5 mx-auto w-100" (click)="forgotPassword(emailDeatil.value)">Reset
                </button>
              </div>
            </form>
          </div>
        </div>
  
      </form>
    </div>
  </div>
  