<div class="body">
  <div class="form-container">
    <form>
      <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="rounded-4 border border-light border-3 p-4" style="height: 320px; width: 480px; background: linear-gradient(360deg, #6E3098, #ffcc00);">
          <button class=" btn btn-secondary float-end  "(click)="back()">Back</button>
          <form [formGroup]="emailDeatil">
   
            <h3 class="text-start text-light ">Forget Password</h3><br>
            <label class=" text-light ">Enter your E-mail</label>
            <input type="email" formControlName="email" class="form-control" name="email" placeholder="Please enter your email">
            <div *ngIf="emailDeatil.get('email').invalid && emailDeatil.get('email').touched" class="text-danger">
              <small>Please enter your email</small>
            </div>
            <div class="text mt-2">
              <p>We’ll send a verification code to this email.</p>
            </div>
          
            <div class="text-center">
              <button class="btn btn-primary  mt-3 w-auto btn-warning-hover" (click)="forgotPassword(emailDeatil.value)">Next-Step</button>
            </div>
           
            
          </form>
        </div>
      </div>
    </form>
  </div>
</div>
