
/* Gradient Background */
body {
   
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  /* Form Container Styles */
 
  
  /* Form Styles */
  .form-container {
    background: #FFFFFF;
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 20px;
  }
  .text{
    color:#fff;
    text-align: center;
  }
 
.btn-warning-hover:hover {
    background-color: #FFA500; 
    color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease, border-radius 0.5s ease;
  
}

