.table-container {
    overflow-x: auto;
}

.pagination {
    float: right;
}

.pagination::ng-deep .ngx-pagination .current {
    background: #6e3098;
    border-radius: 4px;
}

.table thead th {
    background-color: #6e3098;
    color: #fff;
}