<div class="wrapper">
    <div class="container">
        <div class="d-flex justify-content-between align-items-baseline mb-3">
            <h4 class="text-center">User Details</h4>
            <button class="btn btn-outline-primary" (click)="addUser()">
                <i class="fa fa-plus"></i> Add User</button>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover text-center">
                        <thead class="table-primary">
                            <tr>
                                <th>S.N</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of userDetailsData; let per_i = index">
                                <td>{{ per_i + 1 }}</td>
                                <td>{{ item.fullName }}</td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.phone }}</td>
                                <td>{{ item.role }}</td>
                                <td>
                                    <div class="row ">
                                     
                                      <div class="col-sm-4">
                                        <button type="update" class="btn btn-outline-primary" (click)="onUpdateClick(item.userId)"><i
                                          class="fa fa-edit"></i></button>
                                      </div>
                                      <div class="col-sm-4">   
                                    <button type="delete" class="btn btn-outline-danger"><i
                                      class="fa fa-trash"></i></button>
                                      </div>
                                    </div>
                                  </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>