<div class="wrapper">
    <!-- User details table -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="text-warning fw-bold fs-4 fs-md-5">Users List</h2>
                    <button class="btn btn-outline-success" routerLink="/app/user-mgnt/add-user"><i
                            class="fa-solid fa-plus"></i> Add User</button>
                </div>
                <hr>

                <div class="table-container">
                    <div class="table-responsive overflow-x-auto">
                        <table class="table table-bordered table-hover text-center">
                            <thead>
                                <tr>
                                    <th>S.N</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Role</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let item of userDetailsData |paginate: {itemsPerPage: size, currentPage: page, totalItems: pageDetails.totalElements}; let per_i = index">
                                    <!-- User details -->
                                    <td>{{ (size * (page - 1) + per_i) + 1 }}</td>
                                    <td>{{ item.fullName }}</td>
                                    <td>{{ item.email }}</td>
                                    <td>{{ item.phone }}</td>
                                    <td>{{ item.role }}</td>
                                    <td>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <button type="button" class="btn btn-outline-primary mx-2 fs-6 fs-md-5"
                                                data-toggle="tooltip" data-placement="bottom" title="Edit"
                                                (click)="onUpdateClick(item.userId)">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" class="btn btn-outline-danger mx-2 fs-6 fs-md-5"
                                                data-toggle="tooltip" data-placement="bottom" title="Delete"
                                                (click)="onDeleteUserClick(item.userId)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="pagination d-flex align-items-center mt-4">
                            <div class="items-per-page d-flex align-items-center form-group mb-3">
                                <label for="itemsPerPage">Items Per Page: </label>
                                <select class="form-select mx-2" style="width: 80px;" id="itemsPerPage"
                                    [(ngModel)]="size" (change)="fetchUserDetails(size, page)">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                </select>
                            </div>

                            <pagination-controls (pageChange)=" fetchUserDetails(size, page = $event)"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>