
<div class="">
    <div class="mb-5">
      <form [formGroup]="userDetails">
        <div class="border p-5 bg-light border rounded">
          <h4 class="fw-semibold mb-3">Update user details</h4>
          <hr class="mt-1 mb-3"/>
          <div class="row g-4">
  
            <div class="col-md-6">
              <label>Full Name</label>
              <input type="text" formControlName="fullName" name="fullName" id="fullName" class="form-control" placeholder="Enter your full name"
                required
              />
              <div class="text-danger"
                   *ngIf="userDetails.get('fullName').invalid && userDetails.get('fullName').touched">
                <small>Please enter your full name.</small>
              </div>
            </div>
  
            <div class="col-md-6"> 
              <label>Email</label>
              <input type="email" formControlName="email" name="email" id="email" class="form-control" placeholder="Enter your email"required/>
              <div class="text-danger"
                   *ngIf="userDetails.get('email').invalid && userDetails.get('email').touched">
                <small>Please enter email.</small>
              </div>
            </div>
  
            <div class="col-md-6">
              <label>Phone</label>
              <input type="text" formControlName="phone" name="phone" id="phone" class="form-control" placeholder="Enter your phone number" required/>
              <div class="text-danger"
                   *ngIf="userDetails.get('phone').invalid && userDetails.get('phone').touched">
                <small>Please enter phone number.</small>
              </div>
            </div>
  
          </div>
          <hr class="mt-3 mb-3"/>
          
       
          <button class="btn btn-outline-success float-end">Update</button>
        </div>
      </form>
  
    </div>
  </div>
  