<div class="">
    <div class="mb-5">
        <form [formGroup]="teacherDetails">
            <div class="border p-5 bg-light border rounded">
                <h4 class="fw-semibold mb-3">Edit user details</h4>
                <hr class="mt-1 mb-3" />
                <div class="row g-4">

                    <div class="col-md-6">
                        <label>Full Name</label>
                        <input type="text" formControlName="fullName" name="fullName" id="fullName" class="form-control"
                            placeholder="Enter full name" required />
                        <div class="text-danger"
                            *ngIf="teacherDetails.get('fullName').invalid && teacherDetails.get('fullName').touched">
                            <small>Please enter full name.</small>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>Email</label>
                        <input type="email" formControlName="email" name="email" id="email" class="form-control"
                            placeholder="Enter email" required />
                        <div class="text-danger"
                            *ngIf="teacherDetails.get('email').invalid && teacherDetails.get('email').touched">
                            <small>Please enter email.</small>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>Contact</label>
                        <input type="text" formControlName="phone" name="contact" id="contact" class="form-control"
                            placeholder="Enter contact number" required />
                        <div class="text-danger"
                            *ngIf="teacherDetails.get('phone').invalid && teacherDetails.get('phone').touched">
                            <small>Please enter contact number.</small>
                        </div>
                    </div>

                </div>
                <hr class="mt-3 mb-3" />


                <button class="btn btn-outline-success float-end"
                    (click)="onUpdateClick(teacherDetails.value)">Update</button>
            </div>
        </form>

    </div>
</div>