
@media (max-width: 768px){
    .buttons{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.pagination {
    float: right;
}

.pagination::ng-deep .ngx-pagination .current {
    background: #6e3098;
    border-radius: 4px;
}