<div class="wrapper">

    <div class="d-flex flex-wrap justify-content-between">
        <h4 class="text-warning">Intern Log History</h4>

        <div class="buttons" *ngIf="userRole === 'INTERN'">
            <button *ngIf="!isCheckedIn" class="button-1 btn btn-success mx-2"
                (click)="onCheckInClick()">Check-in</button>
            <button *ngIf="isCheckedIn" class="btn btn-warning mx-2" (click)="onClickAddTask()"><i
                    class="fa-solid fa-plus"></i> Add Task</button>
            <button *ngIf="isCheckedIn" class="btn btn-danger" (click)="onCheckOutClick()">Check-out</button>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between align-items-center">
        <div class="input-group col-3" style="width: 250px;">
            <input type="search" class="form-control" [(ngModel)]="searchText" placeholder="Search..."
                aria-label="Search">
            <button class="btn btn-warning" type="button" id="button-addon2">
                <i class="fa-solid fa-search"></i>
            </button>
        </div>
        <div class="col-auto mx-2 nav nav-pills" style="cursor: pointer;">
            <li>
                <img src="../../../assets/images/filter.svg" alt="Filter" style="vertical-align: middle;">
                <span class="ms-2">Filter</span>
            </li>
        </div>

    </div>


    <br>
    <div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered text-center">
                <thead class="table-primary">
                    <tr>
                        <td>S.N</td>
                        <td>Full Name</td>
                        <td>Check-in</td>
                        <td>Check-out</td>
                        <td>Task No</td>
                        <td>Field</td>
                        <td>Task</td>
                        <td>Status</td>
                        <td>Time Taken</td>
                        <td>Problem</td>
                    </tr>
                </thead>

                <tbody
                    *ngFor="let data of apiResponse | paginate: {itemsPerPage: size, currentPage: page, totalItems: pageDetails?.totalElements} | searchFilter:searchText; let i = index">
                    <tr>
                        <td [attr.rowspan]="data.assignedTasks.length + 1">{{ (size * (page - 1) + i) + 1 }}</td>
                        <td [attr.rowspan]="data.assignedTasks.length + 1">{{ data.full_name }}</td>
                        <td [attr.rowspan]="data.assignedTasks.length + 1">{{ data.check_in_time |
                            customDateTimeFormatter }}</td>
                        <td [attr.rowspan]="data.assignedTasks.length + 1">{{ (data.check_out_time |
                            customDateTimeFormatter) || 'Not Available' }}</td>
                    </tr>
                    <tr *ngFor="let task of data.assignedTasks; let j = index">
                        <td>{{i + 1}} . {{ j + 1 }}</td>
                        <td>{{ task.field_type | fieldFormatter }}</td>
                        <td>{{ task.task }}</td>
                        <td>{{ task.status }}</td>
                        <td>{{ task.time_taken }}</td>
                        <td>{{ task.problem }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="pagination d-flex align-items-center mt-4">
                <div class="items-per-page d-flex align-items-center form-group mb-3">
                    <label for="itemsPerPage">Items Per Page: </label>
                    <select class="form-select mx-2" style="width: 80px;" id="itemsPerPage" [(ngModel)]="size" (change)="showInternLog(size, page)">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                    </select>
                </div>

                <pagination-controls (pageChange)="showInternLog(size, page = $event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>