<div class="wrapper mt-3">
    <div class="d-flex  justify-content-between">
        <h2 class="text-warning">Leave Requests</h2>
    </div>
    <hr>

    <div class="table-responsive">
        <table class="table table-bordered table-hover text-center">
            <thead class="table-primary">
                <tr>
                    <th>S.N</th>
                    <th>Reason</th>
                    <th>No of Days</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let data of responseData |paginate: {itemsPerPage: size, currentPage: page, totalItems: pageDetails?.totalElements}; let i = index">
                    <td>{{ (size * (page - 1) + i) + 1 }}</td>
                    <td>{{ data.reason }}</td>
                    <td>{{ data.noOfDays }}</td>
                    <td>{{ data.startDate }}</td>
                    <td>{{ data.endDate }}</td>
                    <td>{{ data.status }}</td>
                    <td>
                        <div>
                            <button *ngIf="data.status == 'Approved' || data.status == 'Pending'"
                                class="btn btn-success mx-2"><i class="fa-solid fa-check"
                                    (click)="onApproveClick(data.id)"></i></button>
                            <button *ngIf="data.status == 'Declined' || data.status == 'Pending'" class="btn btn-danger"
                                (click)="onDeclineClick(data.id)"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="pagination d-flex align-items-center mt-4">
            <div class="items-per-page d-flex align-items-center form-group mb-3">
                <label for="itemsPerPage">Items Per Page: </label>
                <select class="form-select mx-2" style="width: 80px;" id="itemsPerPage" [(ngModel)]="size"
                    (change)="showLeaveRequests(size, page)">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>

            <pagination-controls (pageChange)="showLeaveRequests(size, page = $event)"></pagination-controls>
        </div>
    </div>
</div>