<div class="wrapper">

    <div class="d-flex flex-wrap justify-content-center">
        <a class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <h4 class="text-warning">My Log</h4>
        </a>
    </div>
    <hr>

    <div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered text-center">
                <thead class="table-primary">
                    <tr>
                        <td>S.N</td>
                        <td>Task No</td>
                        <td>Task</td>
                        <td>Status</td>
                        <td>Time Taken</td>
                        <td>Problem</td>
                        <td>Check-in Time</td>
                        <td>Check-out Time</td>
                    </tr>
                </thead>
                <ng-container>
                    <ng-container>
                        <tbody>
                            <tr>
                            </tr>
                        </tbody>
                    </ng-container>
                </ng-container>
            </table>
        </div>


    </div>
</div>