<div class="dashboard">
    <div class="row">
        <div class="col-sm-12">
            <h4 [style.color]="'#F8B826'">Welcome to Intern Check-in Check-out System</h4>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-sm-12">
            <p>Welcome to our Intern Check-In and Check-Out System. Easily keep track
                of intern activities throughout the day. Interns can check in, log their tasks, and check out
                seamlessly. Supervisors can efficiently manage and monitor intern progress. Get started
                now!</p>
        </div>

    </div>
</div>