.body {
  background: #6e3098;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .login-from {
    width: 200px;
  }
}
.password-input-container {
  position: relative;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust as needed */
  transform: translateY(-50%);
  cursor: pointer;
  transition: transform 0.3s ease; /* Transition for smooth transformation */
}

.eye-icon.cut {
  transform: translateY(-50%) rotate(-45deg); /* Rotate the icon to make it look cut */
}
