<div class="body">
  <div class="form-container">
    <form (ngSubmit)="testOtp(otpDetails.value)">
      <div class="container">
        <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
          <div class="col-md-8 col-lg-6">
            <div class="rounded bg-light p-5">
              <form [formGroup]="otpDetails">
                <h3 class="text-center text-warning">Enter OTP</h3>
                <p class="my-2">Please enter your 6-digit OTP below</p>
                <div class="otp-input-container">
                  <div class="otp-boxes my-4">
                    <input type="text" maxlength="1" (input)="onOtpInput($event, 2)" class="otp-box" formControlName="otp1" #otp1>
                    <input type="text" maxlength="1" (input)="onOtpInput($event, 3)" class="otp-box" formControlName="otp2" #otp2>
                    <input type="text" maxlength="1" (input)="onOtpInput($event, 4)" class="otp-box" formControlName="otp3" #otp3>
                    <input type="text" maxlength="1" (input)="onOtpInput($event, 5)" class="otp-box" formControlName="otp4" #otp4>
                    <input type="text" maxlength="1" (input)="onOtpInput($event, 6)" class="otp-box" formControlName="otp5" #otp5>
                    <input type="text" maxlength="1" (input)="onOtpInput($event, 6)" class="otp-box" formControlName="otp6" #otp6>
                  </div>
                </div>
                <div class="text-center">
                  <button class="btn btn-warning text-light mt-3 w-100"
                    (click)="testOtp(otpDetails.value)">Submit</button>
                </div>
                <div class="message mt-3">
                  <p>If you don't see a code in your inbox, check your spam folder. If it's not there, the email address
                    may not be confirmed.</p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
