<div class="body">
  <div class="form-container">
    <form (ngSubmit)="testOtp(otpDetails.value)">
      <div class="container">
        <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
          <div class="col-md-8 col-lg-6">
            <div class="rounded bg-light p-5">
              <form [formGroup]="otpDetails">
                <h4 class="text-center">Enter OTP</h4>
                <div class="mb-3">
                  <label class="mt-3">Enter your 6-digit OTP</label>
                  <input type="number" formControlName="otp" class="form-control" name="otp" placeholder="6-digit code">
                  <div *ngIf="otpDetails.get('otp').invalid && otpDetails.get('otp').touched" class="text-danger">
                    <small>Please enter your OTP</small>
                  </div>
                </div>
                <div class="text-center">
                  <button class="btn btn-warning text-light mt-3 w-100"  (click)="testOtp(otpDetails.value)">Submit</button>
                </div>
                <div class="message mt-3">
                  <p>If you don't see a code in your inbox, check your spam folder. If it's not there, the email address
                    may not be confirmed.</p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>