<div class="container d-flex justify-content-center align-items-center">
    <div class="rounded bg-light p-5">
        <div class="card-body" style="width: 700px;">
            <div *ngIf="userProfile">
                <div class="text-center">
                    <img src="assets/images/cat.png" alt="User Profile" class="img-fluid mb-2"
                        style="height: 50px; width: 50px" />
                </div>
                <h3 class="card-title text-center mb-5 text-warning">My Profile</h3>
                <div class="row">
                    <p class="col"><b>Name: </b> {{ userProfile.fullName }}</p>
                    <p class="col"><b>Email: </b> {{ userProfile.email }}</p>
                </div>

                <div class="row">
                    <p class="col"><b>Contact: </b> {{ userProfile.phone }}</p>
                    <p class="col"><b>Role: </b> {{ userProfile.role }}</p>
                </div>

                <div class="row" *ngIf="roleName == 'INTERN'">
                    <p class="col"><b>Field: </b> {{ userProfile.fieldType }}</p>
                </div>

                <div class="row" *ngIf="roleName == 'INTERN'">
                    <p class="col"><b>Primary Supervisor: </b> {{ userProfile.primarySupervisor.fullName }}</p>
                    <p class="col"><b>Secondary Supervisor: </b> {{ userProfile.secondarySupervisor.fullName }}</p>
                </div>

                <button class="btn btn-outline-danger mt-5 float-start" (click)="cancel()"> <i
                        class="fa-solid fa-arrow-left"></i> Back </button>
                <button class="btn btn-outline-primary mt-5 float-end" (click)="editProfileById(userProfile.userId)">
                    <i class="fa fa-pen-to-square"></i> Edit profile
                </button>
            </div>
        </div>
    </div>
</div>