<div class="wrapper">
    <div class="mb-5">
        <form [formGroup]="logDetails">
            <div class="border p-5 bg-light  rounded">
                <div class="row g-4 heading-items">
                    <div class="col-sm-6">
                        <h4 class="title-text fw-semibold mb-3 text-warning">Update Log Details</h4>
                    </div>
                    <div class="col">
                        <button class="button-1 btn btn-outline-primary float-end" id="add"
                            (click)="addmultiLogDetails()"><i class="fa fa-plus"></i>Add More</button>
                        <button class="button-2 btn btn-sm btn-primary float-end" id="add"
                            (click)="addmultiLogDetails()"><i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <hr class="mt-1 mb-3" />
                <p><b>1. Update your Task Details</b></p>
                <div class="row g-4">
                    <div class="col-md-6">
                        <label for="text">Task</label>
                        <input type="text" class="form-control" name="task" id="task" formControlName="task"
                            placeholder="Enter your given task" required />
                        <span class="text-danger"
                            *ngIf="logDetails.get('task')?.invalid && logDetails.get('task')?.touched">Task is
                            required!</span>
                        <span *ngIf="submitted && logDetails.get('task')?.errors?.['required']" class='text-danger'>
                            Task is required!
                        </span>
                    </div>

                    <div class="col-md-6">
                        <label for="text">Status</label>
                        <input type="text" class="form-control" name="status" id="status" formControlName="status"
                            placeholder="Enter your current status" required />
                        <span class="text-danger"
                            *ngIf="logDetails.get('status')?.invalid && logDetails.get('status')?.touched">status
                            is
                            required!</span>
                        <span *ngIf="submitted && logDetails.get('status')?.errors?.['required']" class='text-danger'>
                            Status is required!
                        </span>

                    </div>

                    <div class="col-md-6">
                        <label for="text">Time taken</label>
                        <input type="email" class="form-control" name="timeTaken" id="timeTaken"
                            formControlName="timeTaken" placeholder="Enter the time taken" required />
                        <span class="text-danger"
                            *ngIf="logDetails.get('timeTaken')?.invalid && logDetails.get('timeTaken')?.touched">Time
                            taken is
                            required!</span>
                        <span *ngIf="submitted && logDetails.get('timeTaken')?.errors?.['required']"
                            class='text-danger'>
                            Time taken is required!
                        </span>

                    </div>


                    <div class="col-md-6">
                        <label for="text">Problem</label>
                        <input type="text" class="form-control" name="problem" id="problem" formControlName="problem"
                            placeholder="Enter the problem occured" required />
                        <span class="text-danger"
                            *ngIf="logDetails.get('problem')?.invalid && logDetails.get('problem')?.touched">Problem
                            is required!</span>
                        <span *ngIf="submitted && logDetails.get('problem')?.errors?.['required']" class='text-danger'>
                            Problem is required!
                        </span>
                    </div>

                </div>

                <br>

                <div formArrayName="multiLogDetails" *ngFor="let control of multiLogDetails?.controls; let i=index;">
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><b>{{i+2}}. Update your Task Details</b></p>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-danger float-end" *ngIf="i>=0" (click)="onDeleteButtonClick(i)">
                                    <i class="fa fa-trash"></i></button>
                            </div>
                        </div>

                        <div class="row g-4">
                            <div class="col-md-6">
                                <label for="text">Task</label>
                                <input type="text" class="form-control" name="task" id="task" formControlName="task"
                                    placeholder="Enter your given task" required />
                                <span class="text-danger"
                                    *ngIf="control.get('task')?.invalid && control.get('task')?.touched">Task is
                                    required!</span>
                                <span *ngIf="submitted && control.get('task')?.errors?.['required']"
                                    class='text-danger'>
                                    Task is required!
                                </span>
                            </div>

                            <div class="col-md-6">
                                <label for="text">Status</label>
                                <input type="text" class="form-control" name="status" id="status"
                                    formControlName="status" placeholder="Enter your current status" required />

                                <span class="text-danger"
                                    *ngIf="control.get('status')?.invalid && control.get('status')?.touched">status
                                    is
                                    required!</span>
                                <span *ngIf="submitted && control.get('status')?.errors?.['required']"
                                    class='text-danger'>
                                    Status is required!
                                </span>

                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="text">Time taken</label>
                                <input type="email" class="form-control" name="timeTaken" id="timeTaken"
                                    formControlName="timeTaken" placeholder="Enter the time taken" required />
                                <span class="text-danger"
                                    *ngIf="control.get('timeTaken')?.invalid && control.get('timeTaken')?.touched">Time
                                    taken is
                                    required!</span>
                                <span *ngIf="submitted && control.get('timeTaken')?.errors?.['required']"
                                    class='text-danger'>
                                    Time taken is required!
                                </span>

                            </div>


                            <div class="col-md-6 mb-3">
                                <label for="text">Problem</label>
                                <input type="text" class="form-control" name="problem" id="problem"
                                    formControlName="problem" placeholder="Enter the problem occured" required />
                                <span class="text-danger"
                                    *ngIf="control.get('problem')?.invalid && control.get('problem')?.touched">Problem
                                    is required!</span>
                                <span *ngIf="submitted && control.get('problem')?.errors?.['required']"
                                    class='text-danger'>
                                    Problem is required!
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


                <hr class="mt-3 mb-3" />
                <div class="row g-4 buttons">
                    <div class="col-md-6">
                        <button class="btn btn-outline-danger float-start" (click)="cancel()">Cancel</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-success btn-block float-end"
                            (click)="onClickUpdateLog(logDetails.value)">Update</button>
                    </div>
                </div>
            </div>