<div class="wrapper mt-3">
    <div class="d-flex  justify-content-between">
        <h2 class="text-warning">Leave Requests</h2>
        <button *ngIf="userRole == 'INTERN'" class="btn btn-sm btn-success" (click)="onComposeNewClick(userId)"><i
                class="fa-solid fa-plus"></i>
            Compose New</button>
    </div>
    <hr>

    <div class="table-responsive custom-tbl">
        <table class="table table-responsive table-hover text-center">
            <thead class="table-primary">
                <tr>
                    <th>S.N</th>
                    <th>Reason</th>
                    <th>No of Days</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of responseData; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ data.reason }}</td>
                    <td>{{ data.noOfDays }}</td>
                    <td>{{ data.startDate }}</td>
                    <td>{{ data.endDate }}</td>
                    <td>{{ data.status }}</td>
                </tr>
            </tbody>
        </table>

        <div class="pagination d-flex align-items-center mt-4">
            <div class="items-per-page d-flex align-items-center form-group mb-3">
                <label for="itemsPerPage">Items Per Page: </label>
                <select class="form-select mx-2" style="width: 80px;" id="itemsPerPage"
                    [(ngModel)]="itemsPerPage">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>

            <pagination-controls (pageChange)=" currentPage=$event"></pagination-controls>
        </div>
    </div>
</div>