<!-- user-details.component.html -->
<div class="wrapper">
    <!-- User details table -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between">
                    <h2 class="text-warning">Users List</h2>
                    <div class="input-group col-6" style="width: 400px;">
                        <input type="search" class="form-control" [(ngModel)]="searchText" placeholder="Search..."
                            aria-label="Search">
                    </div>
                </div>
                <hr>

                <div class="table-responsive">
                    <table class="table table-bordered table-hover text-center">
                        <thead class="table-primary">
                            <tr>
                                <th>S.N</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container
                                *ngFor="let item of userDetailsData |searchFilter:searchText; let per_i = index">
                                <!-- User details -->
                                <tr *ngIf="item.role !== 'ADMIN'">
                                    <td>{{ per_i + 1 }}</td>
                                    <td>{{ item.fullName }}</td>
                                    <td>{{ item.email }}</td>
                                    <td>{{ item.phone }}</td>
                                    <td>{{ item.role }}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>