<div class="wrapper">
    <!-- User details table -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header-box d-flex flex-wrap justify-content-between align-items-center">
                    <h3 class="text-warning mb-0 col-lg-6 col-md-12">Users List</h3>

                    <div *ngIf="userRole == 'SUPERVISOR'" class="my-interns" style="cursor: pointer;">
                        <ul class="nav nav-pills">
                            <li> <i class="fa-solid fa-users"></i></li>
                            <li class="ms-2"> My Interns</li>
                        </ul>
                    </div>

                    <div class="input-group col-lg-6 col-md-12 search-field" style="max-width: 250px;">
                        <input type="search" class="form-control" [(ngModel)]="searchText" placeholder="Search..."
                            aria-label="Search">
                        <button class="btn btn-warning" type="button" id="button-addon2">
                            <i class="fa-solid fa-search"></i>
                        </button>
                    </div>
                </div>
                <hr>

                <div class="table-container custom-tbl">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center">
                            <thead class="table-primary">
                                <tr>
                                    <th>S.N</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container
                                    *ngFor="let item of userDetailsData |paginate: {itemsPerPage: size, currentPage: page, totalItems: pageDetails.totalElements} | searchFilter:searchText; let per_i = index">
                                    <!-- User details -->
                                    <tr *ngIf="item.role !== 'ADMIN'">
                                        <td>{{ per_i + 1 }}</td>
                                        <td>{{ item.fullName }}</td>
                                        <td>{{ item.email }}</td>
                                        <td>{{ item.phone }}</td>
                                        <td>{{ item.role }}</td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>

                        <div class="pagination d-flex align-items-center mt-4">
                            <div class="items-per-page d-flex align-items-center form-group mb-3">
                                <label for="itemsPerPage">Items Per Page: </label>
                                <select class="form-select mx-2" style="width: 80px;" id="itemsPerPage"
                                    [(ngModel)]="size" (change)="fetchUserDetails(size, page)">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                </select>
                            </div>

                            <pagination-controls (pageChange)=" fetchUserDetails(size, page = $event)"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>