<div class="wrapper">
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4 fw-bold text-warning">Intern Check In/Out</h1>
            <p class="lead text-light">Welcome to the Intern Check In/Out system. Log in to manage your daily tasks and activities.</p>
            <hr class="my-4 text-light">
            <p class="text-light">Keep track of your daily tasks, time spent, and more.</p>
            <button type="submit" class="btn btn-warning text-light btn-lg" [type]="button" (click)="loginUser()">Login</button>
        </div>
    </div>
</div>
